

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul, ol, li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

html, body {
  height: 100%;
  line-height: 1;
  font-size: 10px;
  color: #000;
  font-family: Manrope;
}

.wrapper {
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
}

._container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.substrate {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: none;
}



.header {
  padding: 19px 0;
}
.header .header__container .header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 19px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 20px;
}

@media (max-width: 768px) {
  .header .header__container .header__top .header__logo {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}
@media (max-width: 768px) {
  .header .header__container .header__top .header__location {
    display: none;
  }
}
.header .header__container .header__top .header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
          column-gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 232px;
  padding: 0 10px;
}
.header .header__container .header__top .header__phone svg {
  min-width: 44px;
  aspect-ratio: 1;
}
.header .header__container .header__top .header__phone .header__phone__right p:first-child {
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 155.5555555556%;
  color: #6E5E56;
}
.header .header__container .header__top .header__phone .header__phone__right p:last-child {
  padding-left: 16px;
  background-image: url("./assets/images/header/phone-background.svg");
  background-repeat: no-repeat;
  background-position: left center;
  font-size: 1.4rem;
  line-height: 155%;
  color: #6E5E56;
}
@media (max-width: 768px) {
  .header .header__container .header__top .header__phone {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}
.header .header__container .header__top .header__social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  padding: 0 10px;
}
.header .header__container .header__top .header__button {
  padding: 18px 26.5px;
}
@media (max-width: 768px) {
  .header .header__container .header__top .header__button {
    display: none;
  }
}

.header .header__container hr {
  width: 100%;
  height: 1px;
  background-color: #E4E1DC;
  margin: 0 0 18px;
}
@media (max-width: 768px) {
  .header .header__container hr {
    display: none;
  }
}
.header .header__container .header__nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
}
.header .header__container .header__nav > ul > li {
  padding: 0 5px;
  line-height: 115%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
          column-gap: 8px;
  cursor: pointer;
  position: relative;
}
.header .header__container .header__nav > ul > li a {
  color: #302A26;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.header .header__container .header__nav > ul > li:hover > svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.header .header__container .header__nav > ul > li:hover a {
  color: #6FB34A;
}
.header .header__container .header__nav > ul > li:hover .drop-menu {
  display: block;
}
.header .header__container .header__nav > ul > li .drop-menu {
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  width: 280px;
  border-radius: 16px;
  display: none;
}
.header .header__container .header__nav > ul > li .drop-menu div {
  width: 100%;
  height: 38px;
  background-color: rgba(255, 255, 255, 0);
}
.header .header__container .header__nav > ul > li .drop-menu > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  margin: 0;
  background-color: white;
  border-left: 1px solid #EBE9E6;
  border-right: 1px solid #EBE9E6;
}
.header .header__container .header__nav > ul > li .drop-menu > li:nth-child(2) {
  padding-top: 16px;
  border-radius: 16px 16px 0 0;
  border-top: 1px solid #EBE9E6;
}
.header .header__container .header__nav > ul > li .drop-menu > li:nth-child(8) {
  padding-bottom: 16px;
  border-radius: 0 0 16px 16px;
  border-bottom: 1px solid #EBE9E6;
}
.header .header__container .header__nav > ul > li .drop-menu > li:not(:last-child) {
  border-bottom: 1px solid #E0DDD9;
}
.header .header__container .header__nav > ul > li .drop-menu > li:hover .sub-drop-menu {
  display: block;
}
.header .header__container .header__nav > ul > li .drop-menu > li p {
  font-size: 1.4rem;
  line-height: 155%;
  color: #302A26;
}
.header .header__container .header__nav > ul > li .drop-menu > li:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#62A92D), to(#44881F));
  background: linear-gradient(to bottom, #62A92D, #44881F);
}
.header .header__container .header__nav > ul > li .drop-menu > li:hover p {
  color: white;
}
.header .header__container .header__nav > ul > li .drop-menu > li:hover svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.header .header__container .header__nav > ul > li .drop-menu > li:hover svg path {
  stroke: white;
}
.header .header__container .header__nav > ul > li .drop-menu .sub-drop-menu {
  position: absolute;
  top: 38px;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  background-color: white;
  padding: 16px 20px;
  border-radius: 16px;
  width: 406px;
  border: 1px solid #EBE9E6;
  display: none;
}
.header .header__container .header__nav > ul > li .drop-menu .sub-drop-menu li {
  font-size: 1.4rem;
  line-height: 155%;
  color: #302A26;
}
.header .header__container .header__nav > ul > li .drop-menu .sub-drop-menu li:not(:first-child) {
  padding-top: 10px;
}
.header .header__container .header__nav > ul > li .drop-menu .sub-drop-menu li:not(:last-child) {
  padding-bottom: 10px;
  border-bottom: 1px solid #E0DDD9;
}
.header .header__container .header__nav > ul > li .drop-menu .sub-drop-menu li:not(:last-child):hover {
  color: #44881F;
}
@media (max-width: 386px) {
  .header .header__container .header__nav ul {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
@media (max-width: 768px) {
  .header .header__container .header__nav {
    display: none;
  }
}
.header .burger-button {
  max-width: 50px;
  aspect-ratio: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 6px;
  display: none;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.header .burger-button div {
  width: 85%;
  height: 2px;
  background-color: #E0DDD9;
}
.header .burger-button div:nth-child(2) {
  width: 50%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 7.5%;
}
@media (max-width: 1150px) {
  .header .burger-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__social-media-mobile {
    margin-bottom: 30px;
    display: flex;
    gap: 15px;
  }

  .header__social-media-mobile svg {
    width: 35px;
    height: 35px;
  }
  .header__social-media-desctop,
  .header__button-desctop,
  .header__nav {
    display: none!important;
  }
  .header .header__container .header__top {
    margin: 0;
  }
  .header hr {
    display: none;
  }
}
.header .burger-menu {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 320px;
  padding: 0px 20px 16px;
  background-color: white;
  border-left: 1px solid #EBE9E6;
  border-bottom: 1px solid #EBE9E6;
  border-radius: 0 0 0 16px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  z-index: 2;
}
.header .burger-menu._main {
  right: -100%;
}
.header .burger-menu._sub {
  right: -100%;
}
.header .burger-menu._drop {
  right: -100%;
}
.header .burger-menu .burger-menu__list {
  margin: 0 0 20px;
}
.header .burger-menu .burger-menu__list li {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}
.header .burger-menu .burger-menu__list li:not(:last-child) {
  padding-bottom: 10px;
  border-bottom: 1px solid #E0DDD9;
  margin: 0 0 10px;
}
.header .burger-menu .burger-menu__list li a {
  font-size: 1.65rem;
  line-height: 155%;
  color: #302A26;
}
.header .burger-menu .burger-menu__list li svg {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}
.header .burger-menu .header__location {
  margin: 0 0 20px;
  padding: 0;
}
.header .burger-menu button {
  width: 95%;
  padding: 18px 0;
}
.header .burger-menu .burger-menu__cross {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.header .burger-menu .burger-menu__arrowback {
  position: absolute;
  top: 10px;
  left: 0;
  cursor: pointer;
}
.header .header__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
          column-gap: 12px;
  max-width: 266px;
  min-width: 266px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}
.header .header__location svg {
  min-width: 44px;
  aspect-ratio: 1;
}
.header .header__location p {
  font-weight: medium;
  font-size: 1.6rem;
  line-height: 137.5%;
  color: #6e5e56;
}

._btn {
  background-color: #62A92D;
  color: white;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 155%;
  border-radius: 50px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
._btn:hover {
  background-color: white;
  color: #62A92D;
  outline: 1px solid #62A92D;
}

.text-1 {
  font-size: 1.6rem;
  color: #302A26;
}

.text-2 {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 155%;
  color: rgba(48, 42, 38, 0.6);
}

.text-3 {
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 125%;
  color: #302A26;
}

.text-4 {
  font-weight: 500;
  font-size: 2.2rem;
  color: #44881F;
}

.section-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 3.8rem;
  line-height: 125%;
  color: #302A26;
  margin: 0 0 40px;
  max-width: 100%;
  word-wrap: break-word;
}
.section-title span {
  color: #44881F;
}

@media (max-width: 674px) {
  .section-title {
    font-size: 2.85rem;
  }
}
._link {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 155%;
  color: #44881F;
  padding-right: 16px;
  background-image: url("./assets/images/components/link.svg");
  background-repeat: no-repeat;
  background-position: right center;
  border-bottom: 1px solid #44881F;
}

._arrow {
  min-width: 48px;
  max-width: 48px;
  aspect-ratio: 1;
  background-color: #62A92D;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
._arrow:hover {
  background-color: white;
  border: 1px solid #62A92D;
}
._arrow:hover svg path {
  stroke: #62A92D;
}
._arrow._right {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
._arrow._top {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
._arrow._bottom {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.welcome-section {
  background: url("./assets/images/welcome-section/background.jpg") no-repeat 50% 50% / cover;
}

.welcome-section .welcome-section__container .welcome-section__description {
  color: #302A26;
  padding: 9.9% 0 13%;
}
.welcome-section .welcome-section__container .welcome-section__description .welcome-section__title {
  font-weight: 600;
  font-size: 4.6rem;
  max-width: 570px;
  line-height: 125%;
  margin: 0 0 30px;
  text-transform: uppercase;
}
.welcome-section .welcome-section__container .welcome-section__description .welcome-section__title span {
  color: #44881F;
}
@media (max-width: 899px) {
  .welcome-section .welcome-section__container .welcome-section__description .welcome-section__title {
    font-size: 3.45rem;
  }
}
@media (max-width: 339px) {
  .welcome-section .welcome-section__container .welcome-section__description .welcome-section__title {
    font-size: 2.6rem;
  }
}
.welcome-section .welcome-section__container .welcome-section__description .welcome-section__text {
  font-size: 1.8rem;
  line-height: 155%;
  max-width: 475px;
  margin: 0 0 40px;
}
@media (max-width: 424px) {
  .welcome-section .welcome-section__container .welcome-section__description .welcome-section__text {
    font-size: 1.35rem;
  }
}
.welcome-section .welcome-section__container .welcome-section__description .welcome-section__button {
  padding: 20.5px 46px;
}

.promotions {
  padding: 8.2% 0;
  background-color: #F5F5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 774px) {
  .promotions .promotions__arrow {
    display: none;
  }
}
.promotions .promotions__container {
  margin: 0;
  max-width: 1082px;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  position: relative;
}
.promotions .promotions__container .promotions__pagination {
  position: absolute;
  z-index: 10;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  bottom: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.promotions .promotions__container .promotions__pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #44881F;
  background-color: #F5F5F5;
}
.promotions .promotions__container .promotions__pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  background-color: #44881F;
}
@media (max-width: 1224px) {
  .promotions .promotions__container {
    width: 75%;
    margin: 0;
  }
}
@media (max-width: 774px) {
  .promotions .promotions__container {
    width: 100%;
  }
}
.promotions .promotions-slider {
  overflow-x: hidden;
  max-width: 100%;
  min-width: none;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.promotions .promotions-slider .promotions-slider__wrapper .promotions-slider__item {
  border-radius: 16px;
  cursor: pointer;
  background-color: white;
  border: 1px solid #EBE9E6;
  min-height: 472px;
}
.promotions .promotions-slider .promotions-slider__wrapper .promotions-slider__item .promotions-slider__item__image {
  border-radius: 16px;
  width: 100%;
  aspect-ratio: 380/230;
  position: relative;
}
.promotions .promotions-slider .promotions-slider__wrapper .promotions-slider__item .promotions-slider__item__image img {
  border-radius: 16px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.promotions .promotions-slider .promotions-slider__wrapper .promotions-slider__item .promotions-slider__item__text {
  padding: 20px 30px 30px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: 0 0 20px 20px;
}
.promotions .promotions-slider .promotions-slider__wrapper .promotions-slider__item .promotions-slider__item__text .promotions-slider__item__validity {
  margin: 0 0 20px;
}
.promotions .promotions-slider .promotions-slider__wrapper .promotions-slider__item .promotions-slider__item__text .promotions-slider__item__title {
  margin: 0 0 15px;
}
.promotions .promotions-slider .promotions-slider__wrapper .promotions-slider__item .promotions-slider__item__text .promotions-slider__item__description {
  line-height: 155%;
  margin: 0 0 33px;
}
@media (max-width: 400px) {
  .promotions .promotions-slider .promotions-slider__wrapper .promotions-slider__item .promotions-slider__item__text .promotions-slider__item__description {
    font-size: 1.2rem;
  }
}
.promotions .promotions-slider .promotions-slider__wrapper .promotions-slider__item .promotions-slider__item__text .promotions-slider__slide__link {
  margin: auto 0 0;
}

.services {
  padding: 8.2% 0;
  background-image: url("./assets/images/services/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.services .services__main .services__group {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.services .services__main .services__group > * {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}
.services .services__main .services__group._first-group {
  display: grid;
  grid-template-columns: 41% 54%;
  grid-template-rows: 63% 34%;
  -webkit-column-gap: 1%;
          column-gap: 1%;
  row-gap: 3%;
  margin: 0 0 19px;
}
.services .services__main .services__group._first-group #item-services-1 {
  grid-column: 1/2;
  grid-row: 1/2;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  background-image: url("./assets/images/services/1.jpg");
}
.services .services__main .services__group._first-group #item-services-2 {
  grid-column: 2/3;
  grid-row: 1/3;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  background-image: url("./assets/images/services/2.jpg");
}
.services .services__main .services__group._first-group #item-services-3 {
  grid-column: 1/2;
  grid-row: 2/3;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  background-image: url("./assets/images/services/3.jpg");
}
@media (max-width: 999px) {
  .services .services__main .services__group._first-group {
    grid-template-columns: 45% 50%;
  }
}
@media (max-width: 874px) {
  .services .services__main .services__group._first-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    row-gap: 30px;
  }
}
.services .services__main .services__group._second-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 20px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}
.services .services__main .services__group._second-group #item-services-4 {
  width: 56%;
  background-image: url("./assets/images/services/4.jpg");
  -ms-flex-item-align: stretch;
      align-self: stretch;
}
.services .services__main .services__group._second-group #item-services-5 {
  width: 39%;
  background-image: url("./assets/images/services/5.jpg");
  -ms-flex-item-align: stretch;
      align-self: stretch;
}
@media (max-width: 1199px) {
  .services .services__main .services__group._second-group #item-services-4,
  .services .services__main .services__group._second-group #item-services-5 {
    width: 47%;
  }
}
@media (max-width: 874px) {
  .services .services__main .services__group._second-group #item-services-4,
  .services .services__main .services__group._second-group #item-services-5 {
    width: 100%;
  }
}
.services .services__main .services__group._third-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}
.services .services__main .services__group._third-group #item-services-6 {
  width: 48%;
  background-image: url("./assets/images/services/6.jpg");
  -ms-flex-item-align: stretch;
      align-self: stretch;
}
.services .services__main .services__group._third-group #item-services-7 {
  width: 48%;
  background-image: url("./assets/images/services/7.jpg");
  -ms-flex-item-align: stretch;
      align-self: stretch;
}
@media (max-width: 874px) {
  .services .services__main .services__group._third-group #item-services-6,
  .services .services__main .services__group._third-group #item-services-7 {
    width: 100%;
  }
}
.services .services__main .services__group .item-services {
  border: 1px solid #EBE9E6;
  border-radius: 16px;
  background-color: white;
  padding: 40px;
  position: relative;
  cursor: pointer;
}
.services .services__main .services__group .item-services:hover div.item-services__arrow {
  background-color: white;
  border: 1px solid #62A92D;
}
.services .services__main .services__group .item-services:hover div.item-services__arrow svg path {
  stroke: #62A92D;
}
.services .services__main .services__group .item-services .item-services__title {
  margin: 0 0 20px;
}
.services .services__main .services__group .item-services .item-services__title span.text-4 {
  line-height: 125%;
  margin-right: 12px;
}
@media (max-width: 437px) {
  .services .services__main .services__group .item-services .item-services__title {
    font-size: 1.65rem;
  }
}
.services .services__main .services__group .item-services ul.item-services__list {
  list-style-type: circle;
  list-style-position: inside;
  padding-left: 10px;
}
.services .services__main .services__group .item-services ul.item-services__list li {
  list-style-type: disc;
  line-height: 155%;
}
@media (max-width: 437px) {
  .services .services__main .services__group .item-services ul.item-services__list li {
    font-size: 1.2rem;
  }
}
.services .services__main .services__group .item-services div.item-services__arrow {
  position: absolute;
  right: 40px;
  bottom: 40px;
}
@media (max-width: 1000px) {
  .services .services__main .services__group .item-services div.item-services__arrow {
    right: 20px;
    bottom: 20px;
  }
}
@media (max-width: 499px) {
  ._arrow{
    min-width: 28px;
    max-width: 28px;
  }
}
@media (max-width: 329px) {
  .services .services__main .services__group .item-services div.item-services__arrow {
    min-width: 30px;
    max-width: 30px;
  }
}
@media (max-width: 874px) {
  .services .services__main .services__group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
    margin: 0 0 30px;
  }
}

.center {
  padding: 8.2% 0;
  background-image: url("./assets/images/center/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.center .center__container {
  overflow-x: visible;
}
.center .center__container .center__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin: 0 0 62px;
}
.center .center__container .center__description .center__description__text {
  max-width: 53%;
}
.center .center__container .center__description .center__description__text p {
  line-height: 155%;
}
.center .center__container .center__description .center__description__text p:not(:last-child) {
  margin: 0 0 20px;
}
@media (max-width: 349px) {
  .center .center__container .center__description .center__description__text .center__title {
    font-size: 2.85rem;
  }
  .center .center__container .center__description .center__description__text p {
    font-size: 1.2rem;
  }
  .center .center__container .center__description .center__description__text p.text-4 {
    font-size: 1.65rem;
  }
}
@media (max-width: 1074px) {
  .center .center__container .center__description .center__description__text {
    max-width: none;
  }
}
.center .center__container .center__description .center__description__stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.center .center__container .center__description .center__description__stat .stat-item {
  max-width: 230px;
  min-width: 230px;
  aspect-ratio: 1;
  border: 1px solid #ACA29D;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 6px;
}
.center .center__container .center__description .center__description__stat .stat-item .stat-item__count {
  font-weight: 500;
  font-size: 4.8rem;
  line-height: 125%;
  color: #44881F;
}
.center .center__container .center__description .center__description__stat .stat-item .stat-item__text {
  text-align: center;
}
@media (max-width: 524px) {
  .center .center__container .center__description .center__description__stat .stat-item {
    max-width: 173px;
    min-width: 173px;
  }
  .center .center__container .center__description .center__description__stat .stat-item .stat-item__count {
    font-size: 3.6rem;
  }
  .center .center__container .center__description .center__description__stat .stat-item .stat-item__text {
    font-size: 1.2rem;
  }
}
@media (max-width: 1024px) {
  .center .center__container .center__description .center__description__stat {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 1074px) {
  .center .center__container .center__description {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 30px;
  }
}
.center .center-slider {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.3vw;
          column-gap: 2.3vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 40px;
}
.center .center-slider .center-slider__slide {
  position: relative;
  aspect-ratio: 1;
}
.center .center-slider .center-slider__slide._small {
  max-width: 26vw;
  min-width: 26vw;
}
.center .center-slider .center-slider__slide._big {
  max-width: 30vw;
  min-width: 30vw;
}
@media (max-width: 1024px) {
  .center .center-slider .center-slider__slide._small {
    display: none;
  }
  .center .center-slider .center-slider__slide._big {
    max-width: 40vw;
    min-width: 40vw;
  }
}
@media (max-width: 768px) {
  .center .center-slider .center-slider__slide._big {
    max-width: 53vw;
    min-width: 53vw;
  }
}
@media (max-width: 499px) {
  .center .center-slider .center-slider__slide._big {
    max-width: 71vw;
    min-width: 71vw;
  }
}
.center .center-slider .center-slider__slide img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.center .center-slider .center-slider__arrow {
  max-width: 2.5vw;
  min-width: 2.5vw;
}
@media (max-width: 1024px) {
  .center .center-slider .center-slider__arrow {
    max-width: 48px;
    min-width: 48px;
  }
}
@media (max-width: 1024px) {
  .center .center-slider .center-slider__arrow {
    display: none;
  }
}
.center .center-slider .center-slider__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 7px;
          column-gap: 7px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.center .center-slider .center-slider__pagination div {
  width: 10px;
  aspect-ratio: 1;
  border: 1px solid #44881F;
  border-radius: 50%;
}
.center .center-slider .center-slider__pagination div._active {
  width: 12px;
  background-color: #44881F;
}

.center-slider__arrow {
  z-index: 10;
}

.equipment {
  padding: 8.2% 0;
  background-image: url("./assets/images/equipment/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 774px) {
  .equipment .equipment__arrow {
    display: none;
  }
}
.equipment .equipment__container {
  margin: 0;
  max-width: 1200px;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  position: relative;
}
.equipment .equipment__container .equipment__pagination {
  position: absolute;
  z-index: 10;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  bottom: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.equipment .equipment__container .equipment__pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #44881F;
  background-color: #F5F5F5;
}
.equipment .equipment__container .equipment__pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  background-color: #44881F;
}
@media (max-width: 1349px) {
  .equipment .equipment__container {
    width: 75%;
    margin: 0;
  }
}
@media (max-width: 774px) {
  .equipment .equipment__container {
    width: 100%;
  }
}
.equipment .equipment-slider {
  overflow-x: hidden;
  max-width: 100%;
  min-width: none;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.equipment .equipment-slider .equipment-slider__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch !important;
      -ms-flex-align: stretch !important;
          align-items: stretch !important;
}
.equipment .equipment-slider .equipment-slider__wrapper .equipment-slider__item {
  background-color: white;
  border: 1px solid #EBE9E6;
  border-radius: 16px;
  padding: 40px;
  position: relative;
}
.equipment .equipment-slider .equipment-slider__wrapper .equipment-slider__item .equipment-slider__title {
  font-weight: 600;
  font-size: 2rem;
  line-height: 125%;
  color: #302A26;
  margin: 0 0 15px;
}
.equipment .equipment-slider .equipment-slider__wrapper .equipment-slider__item .equipment__slider__country {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 155%;
  color: rgba(42, 42, 38, 0.6);
  margin: 0 0 20px;
}
.equipment .equipment-slider .equipment-slider__wrapper .equipment-slider__item .equipment__text {
  font-size: 1.4rem;
  line-height: 155%;
  color: #302A26;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 0 50px;
  max-width: 75%;
}
.equipment .equipment-slider .equipment-slider__wrapper .equipment-slider__item img {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: right;
     object-position: right;
  z-index: -1;
}

@media (max-width: 699px) {
  .equipment {
    padding: 15% 0;
  }
}
.faq {
  padding: 8.2% 0;
  background-image: url("./assets/images/faq/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.faq .faq__container .faq__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.faq .faq__container .faq__main .faq__questions {
  max-width: 64%;
}
.faq .faq__container .faq__main .faq__questions .faq__question {
  background-color: white;
  border: 1px solid #EBE9E6;
  border-radius: 16px;
  padding: 25px 20px 25px 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}
.faq .faq__container .faq__main .faq__questions .faq__question:hover ._arrow {
  background-color: white !important;
  border: 1px solid #62A92D !important;
}
.faq .faq__container .faq__main .faq__questions .faq__question:hover ._arrow svg path {
  stroke: #62A92D;
}
.faq .faq__container .faq__main .faq__questions .faq__question:not(:last-child) {
  margin: 0 0 15px;
}
.faq .faq__container .faq__main .faq__questions .faq__question .faq__question__text .faq__question__title {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 145%;
  color: #302A26;
  padding-right: 5px;
}
.faq .faq__container .faq__main .faq__questions .faq__question .faq__question__text p {
  margin: 20px 0 0;
  line-height: 155%;
  display: none;
}
@media (max-width: 549px) {
  .faq .faq__container .faq__main .faq__questions .faq__question .faq__question__text .faq__question__title {
    font-size: 1.35rem;
  }
  .faq .faq__container .faq__main .faq__questions .faq__question .faq__question__text p {
    font-size: 1.2rem;
  }
}
.faq .faq__container .faq__main .faq__questions .faq__question .faq__question__arrow {
  max-width: 40px;
  min-width: 40px;
}
.faq .faq__container .faq__main .faq__questions .faq__question._active .faq__question__text p {
  display: block;
}
.faq .faq__container .faq__main .faq__questions .faq__question._active .faq__question__arrow {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background-color: #42861E;
}
@media (max-width: 974px) {
  .faq .faq__container .faq__main .faq__questions {
    max-width: 85%;
  }
}
@media (max-width: 599px) {
  .faq .faq__container .faq__main .faq__questions {
    max-width: 95%;
  }
}
.faq .faq__container .faq__main .form-faq {
  padding: 30px 40px 40px;
  background-image: url("./assets/images/faq/form-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  border-radius: 16px;
  max-width: 32%;
}
.faq .faq__container .faq__main .form-faq .form-faq__social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  margin: 0 0 20px;
}
.faq .faq__container .faq__main .form-faq .form-faq__title {
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 125%;
  margin: 0 0 8px;
  text-transform: uppercase;
}
.faq .faq__container .faq__main .form-faq .faq-form__subtitle {
  font-size: 1.6rem;
  line-height: 155%;
  margin: 0 0 15px;
}
.faq .faq__container .faq__main .form-faq input,
.faq .faq__container .faq__main .form-faq textarea {
  width: 100%;
  padding: 16px 20px;
  border-radius: 10px;
  border: 1px solid #DDD7CD;
  margin: 0 0 10px;
  background-color: #FAF9F8;
}
.faq .faq__container .faq__main .form-faq input::-webkit-input-placeholder,
.faq .faq__container .faq__main .form-faq textarea::-webkit-input-placeholder {
  font-size: 1.4rem;
  line-height: 155%;
  color: rgba(48, 42, 38, 0.6);
  font-family: Manrope;
}
.faq .faq__container .faq__main .form-faq input:-ms-input-placeholder,
.faq .faq__container .faq__main .form-faq textarea:-ms-input-placeholder {
  font-size: 1.4rem;
  line-height: 155%;
  color: rgba(48, 42, 38, 0.6);
  font-family: Manrope;
}
.faq .faq__container .faq__main .form-faq input::-ms-input-placeholder,
.faq .faq__container .faq__main .form-faq textarea::-ms-input-placeholder {
  font-size: 1.4rem;
  line-height: 155%;
  color: rgba(48, 42, 38, 0.6);
  font-family: Manrope;
}
.faq .faq__container .faq__main .form-faq input::placeholder,
.faq .faq__container .faq__main .form-faq textarea::placeholder {
  font-size: 1.4rem;
  line-height: 155%;
  color: rgba(48, 42, 38, 0.6);
  font-family: Manrope;
}
.faq .faq__container .faq__main .form-faq input {
  height: 54px;
}
.faq .faq__container .faq__main .form-faq textarea {
  aspect-ratio: 300/76;
  resize: none;
}
@media (max-width: 374px) {
  .faq .faq__container .faq__main .form-faq textarea {
    aspect-ratio: 2.9;
  }
}
.faq .faq__container .faq__main .form-faq .form-faq__agree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  cursor: pointer;
  margin: 0 0 15px;
}
.faq .faq__container .faq__main .form-faq .form-faq__agree input {
  display: none;
}
.faq .faq__container .faq__main .form-faq .form-faq__agree input:checked + div {
  background-image: url("./assets/images/faq/checkbox.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.faq .faq__container .faq__main .form-faq .form-faq__agree div {
  margin-top: 5px;
  width: 18px;
  aspect-ratio: 1;
  border: 1px solid #DDD7CD;
  background-color: #FAF9F8;
  border-radius: 2px;
}
.faq .faq__container .faq__main .form-faq .form-faq__agree p {
  font-size: 1.2rem;
  line-height: 155%;
  color: white;
}
.faq .faq__container .faq__main .form-faq .faq-button {
  width: 100%;
  padding: 18px;
}
@media (max-width: 974px) {
  .faq .faq__container .faq__main .form-faq {
    max-width: 43%;
  }
}
@media (max-width: 749px) {
  .faq .faq__container .faq__main .form-faq {
    max-width: 57%;
  }
}
@media (max-width: 574px) {
  .faq .faq__container .faq__main .form-faq {
    max-width: 76%;
  }
}
@media (max-width: 449px) {
  .faq .faq__container .faq__main .form-faq {
    max-width: 100%;
    padding: 20px;
  }
}
@media (max-width: 974px) {
  .faq .faq__container .faq__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer {
  padding: 8.2% 0 22px;
  background-image: url("./assets/images/footer/footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.footer .footer__container .logo {
  margin: 0 0 40px;
}
.footer .footer__container .footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 0 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin: 0 0 20px;
  row-gap: 30px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer .footer__container .footer__top .footer__block {
  padding-right: 10px;
}
.footer .footer__container .footer__top .footer__block .footer__block__title {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 125%;
  letter-spacing: -0.2px;
  color: rgba(255, 255, 255, 0.4);
  margin: 0 0 20px;
}
.footer .footer__container .footer__top .footer__block .footer__block__list li {
  font-size: 1.6rem;
  line-height: 155%;
  color: white;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.footer .footer__container .footer__top .footer__block .footer__block__list li:not(:last-child) {
  margin: 0 0 8px;
}
.footer .footer__container .footer__top .footer__block .footer__block__list li:hover {
  color: #6FB34A;
  cursor: pointer;
}
.footer .footer__container .footer__top .footer__contacts {
  max-width: 22%;
}
.footer .footer__container .footer__top .footer__contacts .footer__contacts__small-text {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 155%;
  color: rgba(255, 255, 255, 0.6);
  margin: 0 0 15px;
}
.footer .footer__container .footer__top .footer__contacts .footer__contacts__small-text:first-child {
  margin: 0 0 10px;
}
.footer .footer__container .footer__top .footer__contacts .footer__contacts__phone {
  font-weight: 600;
  font-size: 2.6rem;
  line-height: 125%;
  letter-spacing: -0.2px;
  color: #D4CBB7;
}
.footer .footer__container .footer__top .footer__contacts .footer__contacts__phone:nth-child(3) {
  margin: 0 0 15px;
}
.footer .footer__container .footer__top .footer__contacts .footer__contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
          column-gap: 12px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer .footer__container .footer__top .footer__contacts .footer__contacts__item:not(:last-child) {
  margin: 0 0 10px;
}
.footer .footer__container .footer__top .footer__contacts .footer__contacts__item p {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 135%;
  color: white;
}
.footer .footer__container .footer__top .footer__contacts .footer__contacts__social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}
@media (max-width: 1049px) {
  .footer .footer__container .footer__top .footer__contacts {
    max-width: 29%;
  }
}
@media (max-width: 799px) {
  .footer .footer__container .footer__top .footer__contacts {
    max-width: 39%;
  }
}
@media (max-width: 624px) {
  .footer .footer__container .footer__top .footer__contacts {
    max-width: 52%;
  }
}
@media (max-width: 474px) {
  .footer .footer__container .footer__top .footer__contacts {
    max-width: 69.5%;
  }
}
@media (max-width: 374px) {
  .footer .footer__container .footer__top .footer__contacts {
    max-width: 93%;
  }
}
.footer .footer__container .footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .footer__container .footer__bottom p {
  font-size: 1.6rem;
  line-height: 155%;
  color: white;
}
@media (max-width: 724px) {
  .footer .footer__container .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }
}

.results {
  padding: 8.2% 0;
}
.results .results__container .result__title {
  max-width: 50%;
}
.results .results__container .results__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 40px;
  margin: 0 0 40px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.results .results__container .results__main .result__item {
  border-radius: 16px 16px 0 0;
  -ms-flex-preferred-size: 23%;
      flex-basis: 23%;
  color: #302A26;
}
.results .results__container .results__main .result__item .result__item__image {
  position: relative;
  border-radius: 16px;
  aspect-ratio: 1;
  margin: 0 0 20px;
  width: 100%;
}
.results .results__container .results__main .result__item .result__item__image img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.results .results__container .results__main .result__item .results__item__title {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 125%;
  margin: 0 0 10px;
  text-transform: uppercase;
}
.results .results__container .results__main .result__item .result__item__text {
  font-size: 1.6rem;
  line-height: 155%;
}
@media (max-width: 1024px) {
  .results .results__container .results__main .result__item {
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
  }
}
.results .results__container .result__button {
  padding: 20.5px 0;
  text-align: center;
  max-width: 200px;
  margin: 0 auto;
}

.ratings {
  padding: 8.2% 0 4.1%;
}
.ratings .ratings__container .ratings__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
}
.ratings .ratings__container .ratings__main .item-rating {
  border-radius: 16px;
  background-color: #FAF9F8;
  border: 1px solid #EBE9E6;
  padding: 30px;
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
}
.ratings .ratings__container .ratings__main .item-rating .item-rating__logo {
  margin: 0 0 20px;
}
.ratings .ratings__container .ratings__main .item-rating .item-rating__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 0 36px;
}
.ratings .ratings__container .ratings__main .item-rating .item-rating__main .item-rating__rating {
  font-weight: 600;
  font-size: 5rem;
  line-height: 125%;
  letter-spacing: -0.3px;
  color: #44881F;
}
.ratings .ratings__container .ratings__main .item-rating .item-rating__main .item-rating__main__right .item-rating__count {
  font-size: 1.6rem;
  line-height: 155%;
  color: #302A26;
}
@media (max-width: 1024px) {
  .ratings .ratings__container .ratings__main .item-rating {
    -ms-flex-preferred-size: 42%;
        flex-basis: 42%;
  }
}
@media (max-width: 768px) {
  .ratings .ratings__container .ratings__main .item-rating {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 0 auto;
    padding: 18px;
  }
  .ratings .ratings__container .ratings__main .item-rating .item-rating__main {
    margin: -3px 0 25px;

  }
  .ratings .ratings__container .ratings__main .item-rating .item-rating__main .item-rating__rating {
    font-size: 45px;
  }
}

.transplantation {
  padding: 4.2% 0 6.3%;
}
.transplantation .transplantation__container {
  background-image: url("./assets/images/transplantation/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  padding: 3.1% 3.6%;
  border-radius: 16px;
}
.transplantation .transplantation__container .transplantation__title {
  max-width: 49%;
}
@media (max-width: 768px) {
  .transplantation .transplantation__container .transplantation__title {
    max-width: 100%;
    position: relative;
    z-index: 10;
  }
}
.transplantation .transplantation__container .transplantation__text {
  max-width: 38%;
  margin: 0 0 40px;
}
.transplantation .transplantation__container .transplantation__text p {
  line-height: 155%;
}
.transplantation .transplantation__container .transplantation__text p:not(:last-child) {
  margin: 0 0 20px;
}
@media (max-width: 768px) {
  .transplantation {
    position: relative;
  }
  .transplantation__buttons {
    position: relative;
    z-index: 10;
  }
  .transplantation__container:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(255, 255, 255, 0.5);
  }
  .transplantation .transplantation__container .transplantation__text {
    max-width: 95%;
    position: relative;
    z-index: 10;
  }
}
.transplantation .transplantation__container .transplantation__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
          column-gap: 15px;
}
.transplantation .transplantation__container .transplantation__buttons button:first-child {
  width: 200px;
  padding: 20.5px;
}
.transplantation .transplantation__container .transplantation__buttons button:last-child {
  width: 180px;
  padding: 20.5px;
  background-color: white;
  border: 1px solid rgba(68, 136, 31, 0.4);
  color: #44881F;
}
.transplantation .transplantation__container .transplantation__buttons button:last-child:hover {
  background-color: #62A92D;
  color: white;
}

.employers {
  padding: 8.2% 0;
}
.employers .employers__container .employers__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 20px;
}
.employers .employers__container .employers__main .employer-item {
  border: 1px solid #EBE9E6;
  border-radius: 16px;
  -ms-flex-preferred-size: 48%;
      flex-basis: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background-color: #FAF9F8;
}
.employers .employers__container .employers__main .employer-item .employer-item__image {
  min-width: 34.5%;
  border-radius: 16px;
  aspect-ratio: 200/296;
  position: relative;
}
.employers .employers__container .employers__main .employer-item .employer-item__image img {
  border-radius: 16px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 499px) {

  .employers .employers__container .employers__main .employer-item .employer-item__image {
    aspect-ratio: 296/200;
  }
  .employers .employers__container .employers__main .employer-item .employer-item__image img {
    -o-object-position: top;
       object-position: top;
  }

  .results .results__container .results__main .result__item .result__item__text {
    font-size: 12px;
  }

  .results .results__container .results__main .result__item {
    flex-basis: 48%;
  }

}
.employers .employers__container .employers__main .employer-item .employer-item__main {
  padding: 30px 5.2%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.employers .employers__container .employers__main .employer-item .employer-item__main .employer-item__title {
  font-weight: 600;
  font-size: 2rem;
  line-height: 125%;
  letter-spacing: -0.2px;
  color: #302A26;
  margin: 0 0 10px;
}
.employers .employers__container .employers__main .employer-item .employer-item__main .employer-item__job {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 155%;
  color: rgba(48, 42, 38, 0.6);
  margin: 0 0 10px;
}
.employers .employers__container .employers__main .employer-item .employer-item__main .employer-item__text {
  font-size: 1.4rem;
  line-height: 155%;
  color: #302A26;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 0 10px;
  word-wrap: break-word;
  word-break: normal;
}
.employers .employers__container .employers__main .employer-item .employer-item__main .employer-item__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 15px;
}
.employers .employers__container .employers__main .employer-item .employer-item__main .employer-item__buttons button:first-child {
  width: 160px;
  padding: 18px 0;
}
.employers .employers__container .employers__main .employer-item .employer-item__main .employer-item__buttons button:last-child {
  width: 150px;
  padding: 18px;
  background-color: white;
  border: 1px solid rgba(68, 136, 31, 0.4);
  color: #44881F;
}
.employers .employers__container .employers__main .employer-item .employer-item__main .employer-item__buttons button:last-child:hover {
  background-color: #62A92D;
  color: white;
}
@media (max-width: 1024px) {
  .employers .employers__container .employers__main .employer-item {
    -ms-flex-preferred-size: 64%;
        flex-basis: 64%;
    margin: 0 auto;
  }
  
}
@media (max-width: 768px) {
  .employers .employers__container .employers__main .employer-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 0 auto;
  }
  .results .results__container .result__title {
    max-width: 100%;
  }
}
@media (max-width: 499px) {
  .employers .employers__container .employers__main .employer-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contacts {
  padding: 8.2% 0;
}
.contacts .contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
          column-gap: 40px;
}
.contacts .contacts__container .contacts__map {
  width: 54%;
  aspect-ratio: 660/454;
  border-radius: 16px;
  position: relative;
}
.contacts .contacts__container .contacts__map iframe {
  border-radius: 16px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  .contacts .contacts__container .contacts__map {
    width: 95%;
  }
}
.contacts .contacts__container .contacts__items .contacts__title {
  font-weight: 600;
  font-size: 3.8rem;
  line-height: 125%;
  color: #302A26;
  margin: 0 0 43px;
  text-transform: uppercase;
}
.contacts .contacts__container .contacts__items .contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}
.contacts .contacts__container .contacts__items .contacts__item:not(:last-child) {
  margin: 0 0 22px;
}
.contacts .contacts__container .contacts__items .contacts__item .contacts__item__text p {
  font-weight: 500;
}
.contacts .contacts__container .contacts__items .contacts__item .contacts__item__text p:first-child {
  font-size: 1.4rem;
  line-height: 135%;
  color: rgba(48, 42, 38, 0.6);
  margin: 0 0 5px;
}
.contacts .contacts__container .contacts__items .contacts__item .contacts__item__text p:last-child {
  font-size: 1.6rem;
  line-height: 135%;
  color: #302A26;
}
@media (max-width: 768px) {
  .contacts .contacts__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
  }
}

*, ul, p, h1, h2, h3, h4, button, body, input, ::before, ::after, div {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}



/* MY LAYOUT START  */

.burder-menu__inner {
  padding-top: 30px;
}

@media (max-width: 1024px) {
  .header__logo {
    max-width: 140px;
   
  }
  .header__logo img {
    max-width: 100%;
  }

  .header .burger-menu._sub,
  .burger-menu._drop {
    padding-top: 70px;
  }

  .burger-menu {
    padding-top: 0;
  }

  .services__item:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .item-services__title,
  .item-services__list {
    z-index: 10;
    position: relative;
  }
  .center .center__container .center__description .center__description__stat .stat-item {
    max-width: 130px;
    min-width: 130px;
}



}

@media (max-width: 768px) {
  .header__logo {
    max-width: 100px;
  }
  .header .header__container .header__top .header__phone {
    min-width: auto;
    column-gap: 0;
    flex-basis: auto;
  }
  .header .header__container .header__top .header__phone svg {
    width: 35px;
    height: 35px;
  }
  .header .header__container .header__top .header__phone .header__phone__right p:first-child {
    font-size: 12px;
  }
  .header .header__container .header__top .header__phone .header__phone__right p:last-child {
    font-size: 10px;
    padding-left: 11px;
  }

  .employer-item__buttons,
  .employers .employers__container .employers__main .employer-item .employer-item__main .employer-item__buttons button:first-child,
  .employers .employers__container .employers__main .employer-item .employer-item__main .employer-item__buttons button:last-child {
    width: 100%;
  }

  .faq .faq__container .faq__main .faq__questions .faq__question {
    padding: 15px;
  }

}




/* MY LAYOUT END  */